.content_post {
  margin-left: 10px;
  margin-top: 10px;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.btn {
  color: #ffffff;
  background-color: cornflowerblue;
  border: transparent;
  width: 60px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 745px;
  border-radius: 45px;
}

.form input {
  padding-left: 5px;
  border: 3px solid cornflowerblue;
  border-radius: 45px;
  /* color: rgb(255, 255, 255); */
  background-color: transparent;
  margin: 0;
  width: 800px;
  height: 40px;
  outline: none;
}

.form input::placeholder {
  color: #ffffff;
}