.content_image {
  position: relative;
  overflow: hidden;
  width: 996px;
  height: 100px;
}

.content_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 996px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.content_profile {
  display: flex;
  margin-top: 10px;
}
.content_profile__name{
  color: rgb(20, 86, 208);
}

.content_profile_text {
  margin-left: 30px;
}

.content_profile_image img {
  width: 60px;
  border: 3px solid cornflowerblue;
  border-radius: 45%;
  margin-left: 5px;
}
.content_profile__about img {
  
  display: flex;
  height: 200px;
  width: 200px;
}
.content_profile__about ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content_profile__about :first-child {
  margin-top: 15px;
}
.contacts{
  list-style-type: none;
  padding: 0;
}

.contacts :first-child{
  margin-top: 10px;
}
.contacts a {
  text-decoration: none;
  color: rgb(20, 86, 208);
}