.header {
    grid-area: h;
    background-color: cornflowerblue;
  }
  
  .header img {
    width: 60px;
  }

.loginBlock{
  float: right;
  margin-top: 15px;

}
.loginBlock a {
  color: #ffff;
  text-decoration: none;
  margin-right: 5px;
}