.wrapper {
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 5px;
  padding: 0;
}





