.main {
    margin: 10px 0 5px 5px;
}

.title {
    font-size: 18px;
    color: #ffffff;
}

.inner {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.name_items a {
    text-decoration: none;
    color: #ffffff;
}

.name a:hover {
    transition: 0.15s;
    color: cornflowerblue;
}

.messages {
    color: #ffffff;
}

.name_items a.active {
    color: cornflowerblue;
}

.btn {
    color: #ffffff;
    background-color: cornflowerblue;
    border: transparent;
    width: 60px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 745px;
    border-radius: 45px;
}

.form input {
    padding: 0 10px 0 10px;
    border: 3px solid cornflowerblue;
    border-radius: 45px;
    background-color: transparent;
    color: #ffffff;
    margin-top: 10px;
    width: 780px;
    height: 40px;
    outline: none;
}

.form input::placeholder {
    color: #ffffff;
}