.nav {
  background-color: skyblue;
  grid-area: n;
}

.items :last-child {
  margin-top: 20px;
}

.items :first-child {
  margin-top: 5px;
}

.items {
  display: flex;
  flex-direction: column;
}

.items a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

.items a.active {
  color: cornflowerblue;
}